.wrap {
    height: 432px;
    width: 768px;
    position: absolute;
    transform-origin: 0% 0%;
}
/* =============  index.html 小さい状態  =====================*/
//500px以下で下記のソースが適用される
@media screen and (max-width: 500px) {
		header{
      display: none;
    }

    .small_index_object{
      padding-right: 10px;
      text-align: right;
    }

    .small_index_btn {
      min-width: 100px;
      font-family: inherit;
      appearance: none;
      border: 0;
      border-radius: 5px;
      background: #4676d7;
      color: #fff;
      padding: 8px 16px;
      font-size: 1rem;
      cursor: pointer;
    }

    .small_index_btn:hover {
      background: #1d49aa;
    }

    .small_index_btn:focus {
      outline: none;
      box-shadow: 0 0 0 4px #cbd6ee;
    }

    .poseGuage{
      color: #4676d7;
      padding-right: 10px;
      text-align: right;
    }
    .small_index_pose_img{
      display: inline;
    }
  }


@media screen and (min-width: 500px) {

    header{
      padding:20px;
      border-width: 0 0 1px 0;
      border-style: solid;
      border-color: #afafaf;
    }
    .small_index_btn{
      display: none;

    }

    .poseGuage{
      display:none;
    }
    .btn-flat-border{
      display:none;
    }
    .small_index_pose{
      display: none;
    }
    .top-menu-content{
      margin:50px 0px;
    }
    .top-square-button{
      border:{
        style:solid;
        width:1px;
      }
      text-align:center;
      display: block;
      height: 0;
      width: 100%;
      padding:{
        bottom:100%;
      }
      position: relative;
      .top-sqaure-content{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%); /* Safari用 */
        transform: translate(-50%, -50%);
      }
    }

    //基本センタリングCSS
    .center{
      display: flex;
      justify-content: center;
    }
    .container{
      margin-top: 100px;
    }
    .loader{
      padding-top: 50px;
    }

    //改行することができる
    .row{
      margin: 15px 50px;
    }


    .h2_comp{
      color: rgb(97, 187, 86);
    }

    /* =============  TOPpage index.html  =====================*/
    .header_button {
      color: #333;
      margin: 5px;
      padding: 0px 10px 0px 10px;
      position: relative;
      display: inline-block;
      text-decoration: none;
    }
    .header_button::after {
      position: absolute;
      bottom: 2px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: #333;
      opacity: 0;
      visibility: hidden;
      transition: .3s;
    }
    .header_button:hover::after {
      bottom: -4px;
      opacity: 1;
      visibility: visible;
    }

    /* =============  check.html  =====================*/
    #video{
      display: block;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
    }

    .flex{
      padding: 2.5% 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

    }

    /* =============  終了画面ボタン  =====================*/
    a.btn--OK {
      color: #fff;
      background-color: #c10439;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
    }

    a.btn--OK:hover {
      color: #fff;
      background: #d90139;
    }

    a.btn--NO {
      color: #fff;
      background-color: #0442c1;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
    }

    a.btn--NO:hover {
      color: #fff;
      background: #0148d9;
    }

    a.btn--shadow {
      -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    }

    a.btn--circle {
      border-radius: 50%;
      line-height: 100px;
      width: 100px;
      height: 100px;
      padding: 0;
    }

    /* =============  テーブル  =====================*/
    //help.html
    table{
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
    }

    table tr{
      border-bottom: solid 1px #eee;
      cursor: pointer;
    }

    table tr:hover{
      background-color: #d4f0fd;
    }

    table th,table td{
      text-align: center;
      width: 25%;
      padding: 15px 0;
    }


    //conf.html　↓↓↓↓↓↓↓↓↓↓↓↓

    //タブcss
    .tab-wrap {
      display: flex;
      flex-wrap: wrap;
      margin:20px 0;
    }
    .tab-wrap:after {
      content: '';
      width: 100%;
      height: 3px;
      background: #0078e7;
      display: block;
      order: -1;
    }
    .tab-wrap img{
      stroke: #0078e7;
    }
    .tab-label {
      color: White;
      background: LightGray;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.2);
      white-space: nowrap;
      text-align: center;
      padding: 10px .5em;
      order: -1;
      position: relative;
      z-index: 1;
      cursor: pointer;
      border-radius: 5px 5px 0 0;
      flex: 1;
    }
    .tab-label:not(:last-of-type) {
      margin-right: 5px;
    }

    .tab-icon{
      hover: #0078e7;
    }
    .tab-content {
      width: 100%;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }
    /* アクティブなタブ */
    .tab-switch:checked+.tab-label {
      background: #0078e7;
    }
    .tab-switch:checked+.tab-label+.tab-content {
      height: auto;
      overflow: auto;
      padding: 0px 0px 60px 15px;
      opacity: 1;
      transition: .5s opacity;
      box-shadow: 0 0 3px rgba(0,0,0,.2);
    }
    /* ラジオボタン非表示 */
    .tab-switch {
      display: none;
    }

    //ここまで↑↑↑↑↑↑↑↑↑↑↑↑

    //スライダーバー↓↓↓↓↓↓↓↓↓↓↓↓
    .conf_body_title_1{
      display: inline-block;
    }

    .conf_container_1 {
      width: 50%; /* 要素の幅を50%に定義 */
      padding: 0.5em 1em;
      margin: 10px;
      font-weight: bold;
      border: solid 3px #000000;
    }
    .box-minmax{
      margin-top: 10px;
      width: 200px;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      color: #0078e7;
      span:first-child{
        margin-left: 10px;
      }
    }

    .rs-range {
        margin-top: 10px;
        width: 600px;
        -webkit-appearance: none;
        &:focus {
            outline: none;
        }
        &::-webkit-slider-runnable-track {
            width: 30%;
            height: 1px;
            cursor: pointer;
            box-shadow: none;
            background: #0078e7;
            border-radius: 0px;
            border: 0px solid #010101;
        }
        &::-moz-range-track {
            width: 30%;
            height: 1px;
            cursor: pointer;
            box-shadow: none;
            background: #0078e7;
            border-radius: 0px;
            border: 0px solid #010101;
        }

        &::-webkit-slider-thumb {
            box-shadow: none;
            border: 0px solid #0078e7;
            box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
            height: 42px;
            width: 22px;
            border-radius: 22px;
            background: rgba(0, 120, 231, 1.0);
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -20px;
        }
      &::-moz-range-thumb{
            box-shadow: none;
            border: 0px solid #0078e7;
            box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
            height: 42px;
            width: 22px;
            border-radius: 22px;
            background: rgba(0, 120, 231, 1.0);
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -20px;
      }
      &::-moz-focus-outer {
        border: 0;
        }
    }
    .rs-label {

        position: relative;
        transform-origin: center center;
        display: block;
        width: 50px;
        height: 50px;
        background: transparent;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        padding-top: 10px;
        box-sizing: border-box;
        margin-top: 20px;
        margin-left: 33px;
        left: attr(value);
        color: #0078e7;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 20px;
        &::after {
            content: "";
            display: block;
            font-size: 20px;
            letter-spacing: 0.07em;
            margin-top: -2px;
        }

    }
    //ここまで↑↑↑↑↑↑↑↑↑↑↑↑

    //中央寄せ
    #python_video{
      display: block;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;

    }

    .conf_body_btn{
      text-align: right;
      padding:60px 20px 0px 0px;
    }

    .conf_footer_btn{
      text-align: right;
      padding:60px 20px 0px 0px;

    }
  }
