.wrap {
  height: 432px;
  width: 768px;
  position: absolute;
  transform-origin: 0 0;
}

body {
  background-color: #fff;
}

h1 {
  animation: fadeIn 0.2s ease 0.3s 1 normal;
  position: relative;
  display: inline-block;
  padding: 0 55px;
  font-size: 40px;
  color: #2f2f2f;
}

#overlay_view {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .7);
  z-index: 2;
  display: none;
}

#overlay_window {
  margin: 20vh 10vw;
  width: 80vw;
  height: 60vh;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}

.overlay_content {
  height: 100%;
  padding: {
    top: 10vh;
    bottom: 10vh;
  }
}
/* =============  index.html 小さい状態  =====================*/
//500px以下で下記のソースが適用される
@media screen and (max-width: 500px) {
  header {
    display: none;
  }

  #default_view {
    display: none;
  }

  #small_index_object {
    text-align: right;
  }

  .small_index_btn {
    display: inline-block;
    max-width: 180px;
    border: 2px solid #26408e;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #26408e;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 4px;
    transition: 0.4s;
    text-align: right;
  }

  .small_index_btn:hover {
    background-color: #ffffff;
    border-color: #394e8e;
    color: #26408e;
  }

  .pose_boxs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .pose_box {
    box-sizing: border-box;
    width: calc(100% / 7);
    background-color: #ffffff;
    margin: 0;
    padding: 4px 0;
  }

  .pose_name {
    text-align: center;
    font-size: 14px;
    font-style: oblique;
  }

  .pose_detail {
    padding-top: 4px;
    text-align: center;
    color: #656565;
    font-size: 12px;
  }

  .pose_highlight {
    background-color: #ffec88;
  }

  .pose_highlight > img {
    -webkit-animation: pose_highlight 0.45s both;
    -moz-animation: pose_highlight 0.45s both;
    animation: pose_highlight 0.45s both;
  }
  @-webkit-keyframes pose_highlight {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    100% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @-moz-keyframes pose_highlight {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    100% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @keyframes pose_highlight {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    100% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  //----- Endpage用CSS -----//
  .end_title {
    font: {
      size: 14px;
    }
    text-align: center;
    width: 100%;
  }

  .btn {
    margin: {
      left: 10%;
      right: 10%;
    }
    padding: 0;
    width: 30%;
    height: 45px;
    text-align: center;
    border-radius: 5%;
    line-height: 45px;
  }

  a.btn--OK {
    color: #fff;
    background-color: #c10439;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }

  a.btn--OK:hover {
    color: #fff;
    background: #d90139;
  }

  a.btn--NO {
    color: #fff;
    background-color: #0442c1;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }

  a.btn--NO:hover {
    color: #fff;
    background: #0148d9;
  }

  a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
}
@media screen and (min-width: 500px) {
  header {
    padding: 25px;
    background-color: #ffffff;
  }

  .small_index_btn {
    display: none;
  }

  .poseGuage {
    display: none;
  }

  .btn-flat-border {
    display: none;
  }

  .small_index_pose {
    display: none;
  }

  .top-menu-content {
    margin: 50px 0;
  }

  .top-square-button {
    border: {
      style: solid;
      width: 1px;
    }
    text-align: center;
    display: block;
    height: 0;
    width: 100%;
    padding: {
      bottom: 100%;
    }
    position: relative;

    .top-sqaure-content {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      /* Safari用 */
      transform: translate(-50%, -50%);
    }
  }
  //基本センタリングCSS
  .center {
    display: flex;
    justify-content: center;
  }

  .container {
    margin-top: 100px;
  }

  .loader {
    padding-top: 50px;
  }
  //改行することができる
  .row {
    margin: 15px 50px;
  }

  .h2_comp {
    color: rgb(97, 187, 86);
    padding: 0;
    margin: 0;
  }
  /* =============   index.html  =====================*/
  .start-btn {
    text-align: right;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    margin: 0 20px 10px 0;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: 0.4s;
  }

  .start-btn:hover {
    background: #67c5ff;
    color: white;
  }

  .top {
    width: 500px;
    margin-top: 10px;
    padding: 0;
  }

  .index_img {
    text-align: center;
  }

  .column_box {
    display: grid;
    grid-template-rows: 700px;
    grid-template-columns: 75px auto;
    background-color: #ffffff;
    padding: 5px;
    width: auto;
  }

  .column_item1 {
    background-color: #ffffff;
  }

  .column_item2 {
    background-color: #ececec;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  //縦タブ
  .tab-wrap-index {
    height: 87%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #f5f5f5;
  }

  .tab-label-index {
    width: 60px;
    color: #999999;
    background-color: #ffffff;
    white-space: nowrap;
    text-align: center;
    margin: 0 0 20px 23px;
    padding: 23px 0.5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    float: left;
    // box-shadow: 0 0 3px rgba(0,0,0,0.3);
    border-radius: 20px;
    transition: 0.5s;
  }

  label.tab-label-index:hover {
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
    transition: 0.5s;
  }

  .tab-content-index {
    display: none;
  }
  /* アクティブなタブ */
  .tab-switch-index:checked+.tab-label-index {
    color: #0078e7;
    background: White;
    border-right-color: White;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  }

  .tab-switch-index:checked+.tab-label-index+.tab-content-index {
    width: calc(100% - 150px);
    /* - ボタン幅 */
    height: 100%;
    display: block;
  }
  /* ラジオボタン非表示 */
  .tab-switch-index {
    display: none;
  }

  .icon {
    margin: 20px 40px 40px 20px;
  }

  .index_object_top {
    width: 100%;
    height: 85%;
    bottom: 100px;
    margin: 30px 15px 0 0;
    border-radius: 20px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
  }
  /* =============   top.html  =====================*/
  .top {
    width: 100%;
  }

  .top_h2 {
    position: relative;
    display: inline-block;
    padding: 0 55px;
    color: #303030;
  }

  .top_h2:after,
  .top_h2:before {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: #2f2f2f;
  }

  .top_h2:before {
    left: 0;
  }

  .top_h2:after {
    right: 0;
  }

  .box_2 img {
    width: 350px;
    margin: 20px;
  }

  .wrap1 {
    display: flex;
    justify-content: center;
  }
  /* =============  check.html  =====================*/
  #video {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .flex {
    padding: 2.5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  /* =============   complete.html  =====================*/
  .loader1 {
    color: #bbbbbb;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }

    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }

    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }

    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }

    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .blinking {
    animation: flash 1.7s linear infinite;
  }
  @keyframes flash {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
  /* =============  endpage.html  =====================*/
  a.btn--OK {
    color: #fff;
    background-color: #c10439;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }

  a.btn--OK:hover {
    color: #fff;
    background: #d90139;
  }

  a.btn--NO {
    color: #fff;
    background-color: #0442c1;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }

  a.btn--NO:hover {
    color: #fff;
    background: #0148d9;
  }

  a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }

  a.btn--circle {
    border-radius: 50%;
    line-height: 100px;
    width: 100px;
    height: 100px;
    padding: 0;
  }
  /* =============  help.html  =====================*/
  .big {
    margin: 20px;
  }

  .help_h2 {
    position: relative;
    display: inline-block;
    margin: 20px 0 0;
    padding: 0 55px;
    color: #303030;
  }

  .help_h2:after,
  .help_h2:before {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: #303030;
  }

  .help_h2:before {
    left: 0;
  }

  .help_h2:after {
    right: 0;
  }

  .table_1 {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
    margin-top: 20px;
  }

  table tr {
    border-bottom: none;
  }

  .th_step {
    text-align: center;
    padding: 7px 0;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
    color: #0078e7;
    font-size: 25px;
  }

  .td_img {
    text-align: center;
    padding: 30px 0;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
  }

  .td_step_text {
    text-align: center;
    padding: 15px;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
    color: #656565;
    font-size: 15px;
  }

  .table_2 {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    margin-top: 20px;
    width: 100%;
  }

  .th_text {
    text-align: center;
    padding: 7px 0;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
    color: #656565;
  }

  .td_img {
    text-align: center;
    padding: 30px 0;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
  }

  .td_text {
    text-align: center;
    border-right: solid 1px #ddd;
    border-left: solid 1px #ddd;
    color: #656565;
    font-size: 15px;
  }
  /* =============  conf.html  =====================*/
  .tab-wrap {
    background: White;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 0 20px;
  }

  .tab-label {
    color: Gray;
    cursor: pointer;
    flex: 1;
    font-weight: bold;
    order: -1;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    user-select: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
  }

  .tab-label:hover {
    background: rgba(0, 191, 255,.1);
  }

  .tab-switch:checked + .tab-label {
    color: #0078e7;
  }

  .tab-label::after {
    background: #0078e7;
    bottom: 0;
    content: '';
    display: block;
    height: 3px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: translateX(100%);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 0.2s 80ms;
    width: 100%;
    z-index: 1;
  }

  .tab-switch:checked ~ .tab-label::after {
    transform: translateX(-100%);
  }

  .tab-switch:checked + .tab-label::after {
    opacity: 1;
    transform: translateX(0);
  }

  .tab-content {
    height: 0;
    opacity: 0;
    padding: 0 20px;
    pointer-events: none;
    transform: translateX(-30%);
    transition: transform 0.3s 80ms, opacity 0.3s 80ms;
    width: 100%;
  }

  .tab-switch:checked ~ .tab-content {
    transform: translateX(30%);
  }

  .tab-switch:checked + .tab-label + .tab-content {
    height: auto;
    opacity: 1;
    order: 1;
    pointer-events: auto;
    transform: translateX(0);
  }

  .tab-wrap::after {
    content: '';
    height: 20px;
    order: -1;
    width: 100%;
  }

  .tab-switch {
    display: none;
  }
  //ここまで↑↑↑↑↑↑↑↑↑↑↑↑
  //スライダーバー↓↓↓↓↓↓↓↓↓↓↓↓
  .conf_body_title_1 {
    display: inline-block;
  }

  .conf_container_1 {
    width: 50%;
    /* 要素の幅を50%に定義 */
    padding: 0.5em 1em;
    margin: 10px;
    font-weight: bold;
    border: solid 3px #000000;
  }

  .box-minmax {
    margin-top: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #0078e7;

    span:first-child {
      margin-left: 10px;
    }
  }

  .rs-range {
    margin-top: 10px;
    width: 600px;
    -webkit-appearance: none;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 30%;
      height: 1px;
      cursor: pointer;
      box-shadow: none;
      background: #0078e7;
      border-radius: 0;
      border: 0 solid #010101;
    }

    &::-moz-range-track {
      width: 30%;
      height: 1px;
      cursor: pointer;
      box-shadow: none;
      background: #0078e7;
      border-radius: 0;
      border: 0 solid #010101;
    }

    &::-webkit-slider-thumb {
      box-shadow: none;
      border: 0 solid #0078e7;
      box-shadow: 0 10px 10px rgba(0,0,0,0.25);
      height: 42px;
      width: 22px;
      border-radius: 22px;
      background: rgba(0, 120, 231, 1.0);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -20px;
    }

    &::-moz-range-thumb {
      box-shadow: none;
      border: 0 solid #0078e7;
      box-shadow: 0 10px 10px rgba(0,0,0,0.25);
      height: 42px;
      width: 22px;
      border-radius: 22px;
      background: rgba(0, 120, 231, 1.0);
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -20px;
    }

    &::-moz-focus-outer {
      border: 0;
    }
  }
  .range-slider{
    margin-bottom:20px;
  }
  .rs-label {
    position: relative;
    transform-origin: center center;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 33px;
    left: attr(value);
    color: #0078e7;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;

    &::after {
      content: "";
      display: block;
      font-size: 20px;
      letter-spacing: 0.07em;
      margin-top: -2px;
    }
  }

  .conf_body_btn {
    text-align: center;
    padding: 50px;
  }

  .conf_footer_btn {
    text-align: left;
    margin: 15px 20px 30px 100px;
    padding: 60px 0 0;
  }

  .modal_wrap input {
    display: none;
  }

  .modal_overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
  }

  .modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .modal_content {
    align-self: flex-start;
    width: 60%;
    padding: 30px 30px 15px;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transform: translateY(-100%);
    transition: 0.5s;
  }

  .close_button {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
  }

  .modal_wrap input:checked ~ .modal_overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
  }

  .modal_wrap input:checked ~ .modal_overlay .modal_content {
    transform: translateY(20px);
  }

  .open_button {
    position: fixed;
    text-align: center;
    width: 100px;
    margin: auto;
    padding: 10px 10px 8px;
    color: #444;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    border-radius: 6px;
    cursor: pointer;
  }

  label.open_button:hover {
    background-color: #0078e7;
    color: #ffffff;
    transition: 0.5s;
  }

  .detail_text{
    font-size: 12px;
    margin-left: 20px;
  }

  .gesture_area {
    position: relative;
    height:220px;
    text-align: center;
  }

  .gesture_box{
    position: absolute;
    width:auto;
    height:64px;
    &:nth-of-type(1) {
      left:160px;
      top:0px;
    }
    &:nth-of-type(2) {
      left:0px;
      top:70px;
    }
    &:nth-of-type(3) {
      left:160px;
      top:160px;
    }
    &:nth-of-type(4) {
      left:320px;
      top:70px;
    }
  }

  .gesture_img{
    position: absolute;
    left:150px;
    top:45px;
  }
  .dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 180px;
    background: #ffffff;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  .dropdown:after,
  .dropdown:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
  }

  .dropdown:before {
    border-bottom-style: solid;
    border-top: none;
  }

  .dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
  }

  .dropdown-select {
    position: relative;
    margin: 0;
    padding: 6px 8px 6px 10px;
    height: 28px;
    line-height: 14px;
    font-size: 12px;
    color: #000000;
    text-shadow: 0 1px white;
    background: #f2f2f2;
    /* Fallback for IE 8 */
    background: rgba(0, 0, 0, 0) !important;
    /* "transparent" doesn't work with Opera */
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }

  .dropdown-select:focus {
    z-index: 3;
    width: 100%;
    color: #394349;
    outline: 2px solid #49aff2;
    outline: 2px solid -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .dropdown-select > option {
    margin: 3px;
    padding: 6px 8px;
    text-shadow: none;
    background: #f2f2f2;
    border-radius: 3px;
    cursor: pointer;
  }
  /* Fix for IE 8 putting the arrows behind the select element. */
  .lt-ie9 .dropdown {
    z-index: 1;
  }

  .lt-ie9 .dropdown-select {
    z-index: -1;
  }

  .lt-ie9 .dropdown-select:focus {
    z-index: 3;
  }
  /* Dirty fix for Firefox adding padding where it shouldn't. */
  @-moz-document url-prefix() {
    .dropdown-select {
      padding-left: 6px;
    }
  }
  input[type=checkbox] {
    display: none;
  }
  .checkbox_conf {
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      padding: 5px 30px;
      position: relative;
      width: auto;
  }
  .checkbox_conf::before {
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      content: '';
      display: block;
      height: 16px;
      left: 5px;
      margin-top: -8px;
      position: absolute;
      top: 50%;
      width: 16px;
  }
  .checkbox_conf::after {
      border-right: 6px solid #0078e7;
      border-bottom: 3px solid #0078e7;
      content: '';
      display: block;
      height: 20px;
      left: 7px;
      margin-top: -16px;
      opacity: 0;
      position: absolute;
      top: 50%;
      transform: rotate(45deg);
      width: 9px;
  }
  input[type=checkbox]:checked + .checkbox_conf::before {
      border-color: #666;
  }
  input[type=checkbox]:checked + .checkbox_conf::after {
      opacity: 1;
  }
}
