header{
  padding:20px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #afafaf;
}
.top-menu-content{
  margin:50px 0px;
}
.top-square-button{
  border:{
    style:solid;
    width:1px;
  }
  text-align:center;
  display: block;
  height: 0;
  width: 100%;
  padding:{
    bottom:100%;
  }
  position: relative;
  .top-sqaure-content{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); /* Safari用 */
    transform: translate(-50%, -50%);
  }
}
.center{
  display: flex;
  justify-content: center;
}

.row{
  margin: 15px 50px;
}


.h2_comp{
  color: rgb(97, 187, 86);
}

/* =============  終了画面ボタン  =====================*/
a.btn--OK {
  color: #fff;
  background-color: #c10439;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

a.btn--OK:hover {
  color: #fff;
  background: #d90139;
}

a.btn--NO {
  color: #fff;
  background-color: #0442c1;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

a.btn--NO:hover {
  color: #fff;
  background: #0148d9;
}

a.btn--shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

a.btn--circle {
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
}
/* =============  テーブル  =====================*/
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  width: 25%;
  padding: 25px 0;
}


//conf.html　↓↓↓↓↓↓↓↓↓↓↓↓

.conf_body_title_1{
  display: inline-block;
}

.conf_body_img{
  text-align: right;
  padding:10px;
}

.conf_container_1 {
  width: 50%; /* 要素の幅を50%に定義 */
  padding: 0.5em 1em;
  margin: 10px;
  font-weight: bold;
  border: solid 3px #000000;
}
.box-minmax{
  margin-top: 10px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #1da6d6;
  span:first-child{
    margin-left: 10px;
  }
}
.range-slider {
    margin-top: 10px;

}
.rs-range {
    margin-top: 10px;
    width: 200px;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        width: 30%;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: #1da6d6;
        border-radius: 0px;
        border: 0px solid #010101;
    }
    &::-moz-range-track {
        width: 30%;
        height: 1px;
        cursor: pointer;
        box-shadow: none;
        background: #1da6d6;
        border-radius: 0px;
        border: 0px solid #010101;
    }

    &::-webkit-slider-thumb {
        box-shadow: none;
        border: 0px solid #1da6d6;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 42px;
        width: 22px;
        border-radius: 22px;
        background: rgba(29,166,214,0.8);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
    }
  &::-moz-range-thumb{
        box-shadow: none;
        border: 0px solid #1da6d6;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
        height: 42px;
        width: 22px;
        border-radius: 22px;
        background: rgba(29,166,214,0.8);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -20px;
  }
  &::-moz-focus-outer {
    border: 0;
    }
}
.rs-label {

    position: relative;
    transform-origin: center center;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: -15px;
    left: attr(value);
    color: #1da6d6;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    &::after {
        content: "";
        display: block;
        font-size: 20px;
        letter-spacing: 0.07em;
        margin-top: -2px;
    }

}

.conf_container_2{

}

.conf_footer_btn{
  text-align: right;
  padding:20px;

}
